/* MODS TO GLOBAL */
section#contact {
  border-top: 1px solid #cdcdcd;
}


/* PORTFOLIO PAGE STYLES*/
.portfolio_content section.content {
  max-width: 800px;
  margin: 0 auto;
}

.portfolio_content .hero h2, .portfolio_content .hero h3  {
  text-align: center;
  color: #fff;
  font-weight: 300;
}

.portfolio_content .hero h2 {
  padding-bottom: 10px;
  font-weight: 700;
}

.portfolio_content section.hero {
  background-size: cover !important;
  padding:  60px 40px;
}

.portfolio_content section.hero .title {
  padding: 30px;
}

.portfolio_content section.content h4 {
  width: 90%;
  margin:30px auto 0;
  color: #6d6d6d;
  text-align: left;
}

.portfolio_content section.content h5 {
  width: 90%;
  margin:10px auto 20px;
  color: #6d6d6d;
  text-align: left;
}

.portfolio_content section.content h6 {
  text-align: left;
  width: 85%;
  color: #1a3e89;
  margin: 25px auto 0;
}

.portfolio_content section.content p {
  width: 85%;
  margin:10px auto;
  line-height: 1.5rem;
  color: #6d6d6d;
  text-align: left;
}

.portfolio_content section.content p a {
  color: #1a3e89;
  text-decoration: none;
  font-weight: 700;
}

.portfolio_content section.content p a:hover {
  color: #999;
}

.portfolio_content section.content ul {
  color: #6d6d6d;
  width: 75%;
  margin: 15px auto;
  line-height: 1.5rem;
  font-size: .8rem;
}

.portfolio_content section.content ul li {
  list-style: none;
  padding-bottom: 15px;
}

.portfolio_content section.content ul li::before {
  color: #1a3e89;
  content: "■";
  padding-right: 1.5rem;
  position: relative;
  top: -3px;

}



.portfolio_content section.content h5.quotable {
  font-style: italic;
  width: 75%;
  margin: 15px auto 40px;
  text-align: center;
  color: #999;
  line-height: 1.5rem;
}

.portfolio_content section.content h5.quotable i {
padding: 10px;
display: block;
}

.portfolio_content section.content .project-image{
  width: 100%;
  text-align: center;
  padding: 50px 15px;
  box-sizing: border-box;
}

.portfolio_content section.content .project-image img {
  width: 100%;
  box-shadow: 2px 5px 7px #cdcdcd;
}

.portfolio_content section.content .device-mockup {
  text-align: center;
  margin: 50px 0;
}

.portfolio_content section.content .device-mockup img, .portfolio_content section.content .illustration-mockup img {
  width: 94%;
}

.portfolio_content section.content .illustration-mockup img:first-of-type, .portfolio_content section.content .illustration-mockup img:nth-of-type(5) {
  padding-top: 50px;
}

.portfolio_content section.content h6:last-of-type {
text-align: center;
padding: 30px 0 70px;
display: block;
font-size: 1.5rem;
}

.portfolio_content section.content h6.h6-rm-lastof {
  text-align: left;
  padding: 0;
  font-size: 1.25rem;
}

.portfolio_content section.content h6 a {
  color: #1A3E89;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  font-size: 1.25rem;
  padding: 30px 0 30px;
}

.portfolio_content section.content a:hover {
  color: #6d6d6d;
}




/***** RESPONSIVE STYLES *****/
/***** 768px | 1024px *****/


@media screen and (min-width: 768px) {

/* MODS TO GLOBAL */
  section#contact {
    width: 100%;
    margin-top: 60px;
    padding: 30px 0;
    border-top: 1px solid #cdcdcd;
  }

/* PORTFOLIO */

.portfolio_content section.aboutmepage {
  max-width: 775px;
}

  .portfolio_content section.hero {
    background-size: cover !important;
    padding:  250px 40px;
    height: 700px;
    box-sizing: border-box;
    margin-bottom: 70px;
  }

  .portfolio_content section.content p {
    width: 88%;
    }

  .portfolio_content section.content p a {
    text-align: center;
    padding: 20px 0;
  }

  .portfolio_content section.content h5.quotable {
    line-height: 2.125rem;
    margin: 30px auto 70px;
  }

  .portfolio_content section.content .project-image{
    width: 100%;
    text-align: center;
    padding: 70px 30px;
    box-sizing: border-box;
  }

  .portfolio_content section.content .project-image img {
    width: 90%;
  }

  .portfolio_content section.content .device-mockup {
    text-align: center;
    margin: 70px 0;
  }

  .portfolio_content section.content .device-mockup img {
    width: 94%;
  }

  .portfolio_content section.content .illustration-mockup {
    width: 100%;
    text-align: center;
  }

  .portfolio_content section.content .illustration-mockup img {
    max-width: 700px;
    margin: 0 auto;
  }

  .portfolio_content section.content .illustration-mockup img:first-of-type, .portfolio_content section.content .illustration-mockup img:nth-of-type(5) {
    padding-top: 80px;
  }

  .portfolio_content section.content h6 {
    width: 88%;
  }

  .portfolio_content section.content h6 a {
    font-size: 1.75rem;
    line-height: 1.75rem;
    text-align: center;
  }


}
