/* PORTFOLIO PAGE STYLES*/
.portfolio_content .hero h2, .portfolio_content .hero h5  {
  text-align: center;
  color: #fff;
  font-weight: 300;
}

.portfolio_content .hero h2 {
  padding-bottom: 10px;
  font-weight: 700;
}

.portfolio_content section.hero {
  background-size: cover !important;
  padding:  60px 40px;
}

.portfolio_content section.hero .title {
  padding: 30px;
}

.portfolio_content section.content p {
  width: 80%;
  margin:40px auto;
  line-height: 1.5rem;
  color: #6d6d6d;
  text-align: center;
}

.portfolio_content section.content img {
  width: 100%;
  margin: 0 auto;
  align-content: center;
  border-bottom: 5px solid #fff;
}

.portfolio_content section.content p a {
  color: #1A3E89;
  font-weight: 700;
  text-decoration: none;
}

.portfolio_content section.content p a:hover {
  color: #6d6d6d;
}
