/* MODS TO GLOBAL */
.fixed-nav {
  position: fixed;
  top:0;
  z-index: 1000;
}

/* PORTFOLIO PAGE STYLES*/
.portfolio_content section.content.aboutmepage h6:last-of-type {
  margin: 50px auto 30px;
  text-align: center;
}

.portfolio_content section.aboutmepage h6 a {
  padding: 5px 20px !important;
  border-right: 2px solid #1a3e89;
}

.portfolio_content section.aboutmepage h6 a:last-child {
  border-right: none;
}

.portfolio_content section.aboutmepage {
  padding: 40px 0;
}

.portfolio_content section.content {
  max-width: 800px;
  margin: 0 auto;
}

.portfolio_content .hero h2, .portfolio_content .hero h3  {
  text-align: center;
  color: #fff;
  font-weight: 300;
}

.portfolio_content .hero h2 {
  padding-bottom: 2px;
  font-weight: 600;
}

.portfolio_content section.hero {
  background-size: cover !important;
  padding:  60px 40px;
}

.portfolio_content section.hero .title {
  padding: 30px 0;
}

.portfolio_content section.hero .title h3 i {
  padding-top: 10px;
}

.portfolio_content section.hero .title h3 a {
  color: #fff;
  font-size: 30px;
}

.portfolio_content section.hero .title h3 a:hover {
  color: #1a3e89;
  transition: .125s ease-out;
}

.portfolio_content section.hero .title p {
  color: #999999;
  text-align: center;
  padding-top: 5px;
  font-size: .9rem;
}

.section-nav-push {
  height:70px;
}

.portfolio_content .page-nav-block {
  width: 100%;
  background-color: #1a3e89;
  padding: 20px 0;
  margin-bottom: 40px;
}

.portfolio_content .page-nav {
  display: flex;
  margin:0 auto;
  justify-content: space-around;
  max-width: 650px;
}

.portfolio_content .page-nav-block p {
  color:#b4b4b4;
  font-weight: 300;
  font-size: 1.125rem;
  position: relative;
  top: 2px;
}

.page-nav {
  padding: 0 10px;
}

.portfolio_content .page-nav a {
  color:#b4b4b4;
  font-weight: 400;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.5rem;
}

.portfolio_content .page-nav a:hover {
  color:#ffffff;
  transition: .125s ease-out;
}

.portfolio_content .page-nav a:active, {
  color:#b4b4b4;
}

.portfolio_content section.content h4 {
  width: 90%;
  margin:30px auto 0;
  color: #6d6d6d;
  text-align: left;
}

.portfolio_content section.content h4:first-of-type {
  margin:30px auto 0;
}

.portfolio_content section.content h5 {
  width: 90%;
  margin:10px auto 20px;
  color: #6d6d6d;
  text-align: left;
}

.portfolio_content section.content h6 {
  text-align: left;
  width: 85%;
  color: #1a3e89;
  margin: 25px auto 0;
}

.portfolio_content section.content p {
  width: 85%;
  margin:15px auto 10px;
  line-height: 1.65rem;
  color: #6d6d6d;
  text-align: left;
}

.portfolio_content section.content p a {
  color: #1a3e89;
  text-decoration: none;
  font-weight: 600;
}

.portfolio_content section.content p a:hover {
  color: #b4b4b4;
  transition: .125s ease-out;
}

.portfolio_content section.content ul {
  color: #6d6d6d;
  width: 85%;
  margin: 15px auto;
  line-height: 1.5rem;
  font-size: 1rem;
}

.portfolio_content section.content ul li {
  list-style: none;
  padding-bottom: 15px;
}

.portfolio_content section.content ul li::before {
  color: #1a3e89;
  content: "■";
  padding-right: 1.5rem;
  position: relative;
  top: -3px;
  z-index: -10;
}

.study {
  border-left: 5px solid #1a3e89;
  width: 88%;
  margin: 0 auto;
  font-style: italic;
}



.portfolio_content section.content h5.quotable {
  font-style: italic;
  font-weight: 400;
  width: 75%;
  margin: 15px auto 40px;
  text-align: center;
  color: #999;
  line-height: 1.5rem;
}

.portfolio_content section.content h5.quotable i {
padding: 10px;
display: block;
}

.portfolio_content section.content .project-image{
  width: 100%;
  text-align: center;
  padding: 20px 15px;
  box-sizing: border-box;
}

.portfolio_content section.content .project-image img {
  width: 100%;
  box-shadow: 2px 5px 7px #cdcdcd;
}

.portfolio_content section.content .device-mockup {
  text-align: center;
  margin: 50px 0;
}

.portfolio_content section.content .device-mockup img, .portfolio_content section.content .illustration-mockup img {
  width: 94%;
}


  .portfolio_content section.content .device-mockup i, .portfolio_content section.content .project-image i, .portfolio_content section.content .illustration-mockup i {
    display: block;
    font-size: 2rem;
    padding-top: 5px;
  }

  .portfolio_content section.content .device-mockup p.dropbox-link, .portfolio_content section.content .project-image p.dropbox-link, .portfolio_content section.content .illustration-mockup p.dropbox-link {
    text-align: center;
    font-weight: 300 !important;
    padding-top: 20px;
    font-size: 1.375rem;
  }

.portfolio_content section.content .illustration-mockup img:first-of-type, .portfolio_content section.content .illustration-mockup img:nth-of-type(5) {
  padding-top: 50px;
}

.portfolio_content section.content h6.project-link {
text-align: center;
padding: 15px 0;
display: block;
font-size: 1.5rem;
}

.portfolio_content section.content h6 a {
  color: #1A3E89;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  font-size: 1.25rem;
  padding: 30px 0 30px;
}

.portfolio_content section.content a:hover {
  color: #b4b4b4;
  transition: .125s ease-out;
}


/***** Next Project Block *****/
.next-proj-block {
  background-color: #1a3e89;
  padding: 20px 20px 80px;
  margin-top: 40px;
}

.next-proj-block .cell {
  display: flex;
  justify-content: space-between;
}

.next-proj-block a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
}



a .last-proj, a .next-proj {
  max-width: 150px;
  margin:0 auto;
}

a .last-proj, a .next-proj {
  max-width: 150px;
  margin:0 auto;
}

a .last-proj i, a .next-proj i {
  font-size: .8rem;
}

a .last-proj h3, a .next-proj h3 {
  font-size: 1.075rem;
  font-weight: 400;
  line-height: 1rem;
}

a .last-proj h3:hover, a .next-proj h3:hover {
  color: #b4b4b4;
  transition: .125s ease-out;
}

a .last-proj h6, a .next-proj h6 {
  font-size: 1rem;
  color: #b4b4b4;
}

a .last-proj p, a .next-proj p {
  font-size: .8rem;
  color: #b4b4b4;
  padding-top: 5px;
}

a .next-proj {
  text-align: right;
}



/***** RESPONSIVE STYLES *****/
/***** 768px | 1024px *****/


@media screen and (min-width: 768px) {

/* MODS TO GLOBAL */
  section#contact {
    width: 100%;
    padding: 30px 0;
    display: block;
  }

/* PORTFOLIO */

.portfolio_content section.aboutmepage {
  max-width: 775px;
}

  .portfolio_content section.hero {
    background-size: cover !important;
    padding:  95px 40px;
    height: 400px;
    box-sizing: border-box;
  }

.portfolio_content .hero h3  {
    font-weight: 400;
  }

  .portfolio_content section.hero .title p {
    padding-top: 20px;
    font-size: 1.075rem;
  }

  .portfolio_content section.hero .title h3 i {
    padding-top: 30px;
  }

  .portfolio_content section.hero .title h3 a {
    color: #fff;
    font-size: 40px;
  }

  .portfolio_content .page-nav h5 {
    display: inherit;
  }

  .portfolio_content section.content p {
    width: 88%;
    }

  .portfolio_content section.content p a {
    text-align: center;
    padding: 20px 0;
  }

  .portfolio_content section.content h5.quotable {
    line-height: 2.125rem;
    margin: 30px auto 70px;
  }

  .portfolio_content section.content .project-image{
    width: 100%;
    text-align: center;
    padding:30px;
    box-sizing: border-box;
  }

  .portfolio_content section.content .project-image img {
    width: 90%;
  }

  .portfolio_content section.content .device-mockup {
    text-align: center;
    margin: 30px 0;
  }

  .portfolio_content section.content .device-mockup img {
    width: 94%;
  }

  .portfolio_content section.content .device-mockup p.dropbox-link, .portfolio_content section.content .project-image p.dropbox-link, .portfolio_content section.content .illustration-mockup p.dropbox-link {
    text-align: center;
    padding-top: 30px;
  }

  .portfolio_content section.content .illustration-mockup {
    width: 100%;
    text-align: center;
  }

  .portfolio_content section.content .illustration-mockup img {
    max-width: 600px;
    margin: 0 auto;
  }

  .portfolio_content section.content .illustration-mockup img:first-of-type, .portfolio_content section.content .illustration-mockup img:nth-of-type(5) {
    padding-top: 80px;
  }

  .portfolio_content section.content h6 {
    width: 88%;
  }

  .portfolio_content section.content h6 a {
    font-size: 1.25rem;
    line-height: 1.25rem;
    text-align: center;
  }

  a .last-proj, a .next-proj {
    max-width: 400px;
    margin:0 auto;
  }

  .next-proj-block .cell {
    justify-content: space-between;
    max-width: 740px;
    margin: 0 auto;
  }


}
