/***** GLOBAL STYLES *****/
body {
  font-family: 'Roboto', 'Arial', sans-serif;
  background-color: #fff;
}

h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.175rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: .9rem;
  line-height: 1rem;
}

h6 {
  font-size: .9rem;
  line-height: 1rem;
}

p {
  font-size: .8rem;
  line-height: 1.1rem;
}



/***** MODIFICATION CLASSES *****/
.black {
  color: #000000;
}

.blue {
  color: #000000;
}

.grey1 {
  color: #6D6D6D;
}

.grey2 {
  color: #999999;
}

.grey3 {
  color: #CDCDCD;
}

.t400 {
  font-weight: 400;
}

.slab {
  font-family: 'Roboto Slab', 'Times', serif;
}

.center {
  text-align: center;
  margin: 0 auto;
}


/***** NAVIGATION *****/
nav .navwrap {
  padding: 10px 20px;
  display: block;
  position: fixed;
  z-index: 1000;
  width: 100%;
  box-sizing: border-box;
  white-space: nowrap;
  box-shadow: 0px 1px 7px rgba(0,0,0,.5);
  height: 60px;
  background-color: #fff;
}

nav .navwrap a {
  display: inline-block;
  color: #1A3E89;
}

nav .navwrap a:hover {
  color: #999;
  transition: .125s ease-out;
}

nav .navright {
  float:right;
  text-align: right;
  color: #1A3E89;
  z-index: 2;
}

nav .navright h3 {
  font-weight: 700;
  line-height: 1rem;
}

nav ul {
  list-style: none;
  vertical-align: text-bottom;
  display: block;
  font-weight: 400;
  padding-top: 10px;
}

nav ul li {
  display: inline-block;
  padding-left: 20px;
}

nav a {
  text-decoration: none;
  font-size: .9rem;
  line-height: .6rem;
}

nav .navwrap a img {
  height: 40px;
}



/***** BODY *****/
.container {
  margin:0 auto;
  padding-top: 60px;
}



/***** HERO CELL *****/
#hero {
  background-image: url(../assets/images/homepage/hero-background_mob.jpg);
  background-position: center;
  background-size: cover;
  height: 270px;
  text-align: center;
  color: #1A3E89;
}

#hero h1, #hero h5 {
  text-shadow: 1px 2px 4px #fff;
}

#hero h2 {
  padding-top: 80px;
}

#hero h6 {
  font-weight: 400;
  padding-top: 5px;
}

/***** CONTENT CONTAINER *****/
.content-container {
  box-sizing: border-box;
  padding:0;
}



/***** ABOUT ME CELL *****/
#about {
  width: 100%;
  border-bottom: 5px solid #fff;
text-align: center;
}

.aboutcell {
  box-sizing: border-box;
  padding: 50px 0 30px;
  color: #6d6d6d;
    display: inline-flex;
    margin: 0 auto;
}

.aboutcell img {
  width: 105px;
  padding: 0 20px;
  border-radius: 100%;
}



.aboutcell p {
  line-height: 1.125rem;
  overflow: hidden;
  text-align: left;
  padding-bottom: 20px;
  font-size: 1.025rem;
}

.aboutcell .aboutright {
  padding-right: 20px;
}

.aboutcell .aboutbottom {
  text-align: left;
}

.aboutcell a {
  margin: 0 auto;
  font-size: 1rem;
  color: #1a3e89;
  text-decoration: none;
  font-weight: 700;
}

.aboutcell a:first-of-type {
  padding-right: 15px;
  border-right: 1px solid #1a3e89;
  margin-right: 15px;
}

.aboutcell .abouttitle {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1rem;
  color: #6d6d6d;
}

/* PORTFOLIO */

#work {
  font-size: 0;

}

#work a {
  text-decoration: none;
}

.workcell {
  background-size: cover;
  border-bottom:5px solid #fff;
  display: inline-flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  min-height: 250px;
}

.workcell .workcell-title {
  background-color: rgba(0,0,0,.85);
  color: #ffffff;
  box-sizing: border-box;
  padding: 10px 20px;

}

.workcell .workcell-title h3 {
  padding-bottom: 10px;
  font-family: 'Roboto Slab', 'Times', serif;
}

.workcell .workcell-title h5 {
  padding-bottom: 10px;
  font-weight: 400;
  line-height: 1.25rem;
  color: #999999;
}


/***** TESTIMONIALS *****/
#testimonials {
  text-align: center;
  padding: 30px;
  background-color: #1a3e89;
  color: #999999;
}

#testimonials i {
  font-size: 1.5rem;
}

#testimonials p {
  text-align: center;
  padding: 15px;
  line-height: 1.4rem;
  color: #fff;
  font-style: italic;
}

#testimonials h5, #testimonials h6 {
  color: #fff;
}

#testimonials h5 {
  margin-top: 25px;
  padding-bottom: 5px;
  font-size: 1rem;
  font-weight: 400;
}

#testimonials h6 {
  margin-bottom: 15px;
  font-weight: 300;
  font-size: .8rem;
}




/***** CONTACT *****/
#contact {
  background-color: #fff;
  color: #999;
  padding: 30px;
  box-sizing: border-box;
  font-size: 0;
}


#contact a {
  color: #999;
  text-decoration: none;
}

section#contact h2 {
  text-align: center;
  font-weight: 300;
  line-height: 2rem;
}

.social_links {
  text-align: center;

}

.social_links a {
  height: 60px;
  width: 60px;
  border: 2px solid #cdcdcd;
  border-radius: 100%;
  display: inline-block;
  margin: 0 15px 20px;
}

.contact_direct {
  text-align: center;
  padding: 20px;
}

.contact_direct a {
  display: block;
  padding-bottom: 15px !important;
  font-size: 1.075rem;
}

.contact_direct a i.fa {
  padding-right: 10px;
  font-size: 15px;
}

.contact_direct a i.fa-mobile-phone {
  font-size: 1.25rem;
}

.contact_direct a:last-child {
  padding-bottom: 0 !important;
}

.social_links a i.fa {
  font-size: 30px;
  padding:15px;
  color: #6d6d6d;
}


/***** FOOTER *****/
footer {
  padding: 20px 0;
  text-align: center;
  background-color: #cdcdcd;
}

footer img {
  margin: 0 auto;
  width: 40px;
  padding-bottom: 10px;
}

footer h6 {
  color: #1a3e89;
  font-weight: 300;
  border: 0;
}




/***** RESPONSIVE STYLES *****/
/***** 768px | 1024px *****/


@media screen and (min-width: 768px) {

/* GLOBAL */
h1 {
  font-size: 5rem;
  line-height: 5rem;
}

h2 {
  font-size: 3.25rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

h6 {
  font-size: 1.25rem;
  line-height: 1rem;
}

p {
  font-size: 1.075rem;
}



.container {
  padding-top: 90px;
}

nav .navwrap {
  height: 90px;
  padding: 15px 20px;
}

nav .navwrap a img {
  height: 60px;
}

nav .navright h3 {
  line-height: 1.5rem;
  font-size: 1.4rem;
}

nav ul {
  padding-top: 20px;
}

nav a {
  font-size: 1.125rem;
}

/* HERO */
#hero {
  background-image: url(../assets/images/homepage/hero-background.jpg);
  background-position: center;
  background-size: cover;
  height: 600px;
  text-align: center;
  color: #1A3E89;
}

#hero h2 {
  padding-top: 160px;
  padding-bottom: 10px;
}

#hero h6 {
  font-weight: 400;
  padding-top: 25px;
}

/* PORTFOLIO */
.content-container {
  margin: 0 auto;
}

  #work, #about {
    margin: 0 auto;
  }

  .aboutcell img {
    margin-right: 40px;
    padding: 0;
  }

  .aboutcell {
    margin: 0 auto;
    max-width: 900px;
    padding: 70px 0;
  }

  .aboutleft, .aboutright {
    display: inline-block;
  }

  .aboutcell img {
    width: 280px;
    height: 280px;
  }

  .aboutcell p {
    line-height: 1.5rem;
  }

  .aboutcell a {
    font-size: 1.075rem;
  }

  #work {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 150px);
    grid-gap: 5px;
    border-bottom: 5px solid #fff;
  }

  .workcell {
    border: 0;
    margin: 0;
    padding: 0;
    filter: grayscale(75%);
    height: auto;
  }

  .workcell:hover {
    filter: grayscale(0%);
    transition: .4s ease-out;
  }



  .workcell .workcell-title {
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: none;
  }

  .workcell .workcell-title h5 {
    font-size: 1.125rem;
  }

  .workcell:nth-child(1) {
    grid-column-end: span 6;
    grid-row-end: span 3;
  }

  .workcell:nth-child(2) {
    grid-column-end: span 3;
    grid-row-end: span 2;
  }

  .workcell:nth-child(3) {
    grid-column-end: span 3;
    grid-row-end: span 2;
  }

  .workcell:nth-child(4) {
    grid-column-end: span 4;
    grid-row-end: span 3;
  }

  .workcell:nth-child(5) {
    grid-column-end: span 2;
    grid-row-end: span 3;
  }

  .workcell:nth-child(6) {
    grid-column-end: span 2;
    grid-row-end: span 2;
  }

  .workcell:nth-child(7) {
    grid-column-end: span 4;
    grid-row-end: span 2;
  }





.bottom-content {
  font-size: 0;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

/* TESTIMONIALS */
#testimonials {
  text-align: center;
  padding: 40px;
  width: 50%;
  box-sizing: border-box;
  font-size: 0;
  display: inline-block;
}

#testimonials p {
  padding: 20px 40px;
  line-height: 1.75rem;
}

/* CONTACT */
#contact {
  vertical-align: top;
  padding-top: 150px;
  box-sizing: border-box;
    display: inline-block;
      width: 50%;
      font-size: 0;
}

.contact {

}

section#contact h2 {
  line-height: 3.5rem;
}

footer h6 {
  font-size: .9rem;
}

}



@media screen and (min-width: 1440px) {

  #work {
    text-align: center;
  }

  .workcell {
    text-align: left;
  }

  #contact {
    padding-top: 70px;
  }

}
